.card {
  max-width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}

.card__name {
  font-family: "Cabinet-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  margin: 0;
  padding: 2px 12px;
  top: 15px;
}

.card__image {
  width: 100%;
  cursor: pointer;
  border: solid 1px #0000004d;
  border-radius: 20px;
}

@media screen and (max-width: 425px) {
  .card {
    flex-wrap: wrap;
    max-width: 164px;
    max-height: 164px;
  }
}
