@font-face {
  font-family: "Cabinet-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.otf);
}

.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  font-family: "Cabinet-Bold", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__image {
  object-fit: contain;
  object-position: right top;
  width: 100%;
}
