.header {
  display: flex;
  align-items: center;
}

.header__logo {
}

.header__date-and-location {
}

.header__add-clothes-btn {
  margin-left: auto;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__user_name {
}

.header__user_avatar {
}
