.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__copyright {
  font-family: "Cabinet-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.footer__year {
  font-family: "Cabinet-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media screen and (max-width: 425px) {
}
